.container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.textarea {
  width: 680px;
  height: 160px;
  margin-bottom: 10px;
}

.keyboard {
  width: 700px;
  height: 224px;
  background: #747474;
  border-radius: 4px;
  border: 2px solid #424242;
  margin: 0 auto;
  padding: 6px;
}

.row {
  margin-bottom: 6px;
}

.key {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background-color: #424242;
  border-radius: 2px;
}
